.AddOn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.AddOn > :nth-child(2) {
    color: rgb(51, 51, 119);
    margin-bottom: 2em;
}

.Pick {
    display: flex;
    align-items: center;
    gap: 4em;
    width: 27em;
    height: 2.2em;
    border: 1px solid rgb(51, 51, 119);
    padding: 20px;
    border-radius: 10px;
    margin-top: 16px;
}




.Service {
    display: flex;
    align-items: center;
}

.Service  > input {
    width: 20px;
color:  rgb(51, 51, 119);
}

.ServeBox {
    margin-left: 1.5em;
}

.ServeBox > :first-child {
    line-height: 10px;
    color: rgb(2, 2, 53);
    font-weight: 700;
    font-size: 18px
}

.ServeBox > :last-child {
    color:  rgb(171, 160, 207);
    margin-top: -8px;
    width: 16em;
    font-size: 16px;
}

.Amount {
    font-size: 14px;
    color:  rgb(23, 23, 118);
}

.Btn > :first-child {
    font-weight: 600;
}