.ThankYou {
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   margin-top: 10em;
   margin-right: 4.9em;
}

.ThankYou > :nth-child(2){
    margin-bottom: 4px;
    margin-top: 1.3em;
}

.ThankYou > :nth-child(3){
    line-height: 1.8em;
    font-size: 17.5px;
    color: rgb(51, 51, 119);
}