
.FirstBar {
    display: flex;
    flex-direction: column;
    margin-top: -34em;
    margin-left: 2em;
    }

    .Row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .StepNo {
        display: flex;
        align-items: center;
        justify-content: center;
            background-color: none;
            border: 1px solid white;
           
            color: white;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            font-weight: 700;
    }

    .ActiveTab {
      
            display: flex;
            align-items: center;
            justify-content: center;
                background-color: rgb(189, 229, 229);
                border: 3px solid white;
               
                color: rgb(13, 6, 6);
                border-radius: 100%;
                width: 35px;
                height: 35px;
                font-weight: 500;
    
    }
    
    
    .Step {
        line-height: 3px;
    }
    
    .Step > :first-child {
        font-size: 13px;
    }
    
    .Step > :nth-child(2) {
        font-weight: 600;
        letter-spacing: 1px;
    }