@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: "Ubuntu", sans-serif;
}

.App {

  background-color: hsl(206, 94%, 87%);
  min-height: 100vh;
  display: flex;
align-items: center;
justify-content: center;
}

.App-content {
  width: 60em;
  height: 36.8em;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 90px;
}

