.App {
  background-color: hsl(206, 94%, 87%);
  min-height: 100vh;
  display: flex;
align-items: center;
justify-content: center;
}

.App-content {
  width: 60em;
  height: 36.8em;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 90px;
}

